
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Address Book</title>
    </head>
    <body>

        <p>{{ newcontact.getName }}</p>
        <p>{{ newcontact.getAddress }}</p>
        <p>{{ newcontact.getPhoneNumber }}</p>
    </body>
</html>
