html, body {
    height: 100%;
}

html .container {
  min-height: 100%;
}

body {
    background-image: url('../img/book.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: rgba(85, 124, 153, 0.53);*/
}

h1 {
    text-align: center;
    font-family: cursive;;
    font-size: 60px;
    margin: 20px;
}

h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
}

h3 {
    font-size: 25px;
    /*font-family: 'Sansita', sans-serif;*/

}

table {
    margin-left: -22px;
}

.fancy {
    font-family: 'Sansita', sans-serif;
}

form.contact-form {
    margin-left: 60px;
}

.delete-button {
    margin-left: 430px;
    margin-top: -90px;
}

.show-contact {
    margin-top: 130px;
}

.contact-title {
    font-family: 'Indie Flower', cursive;
    margin-left: 180px;
    margin-top: 170px;
}

.contact-info {
    margin-top: 80px;
    /*padding-left: 50px;*/
}

.clear {
    margin-top: 250px;
    margin-left: 280px;
}

#enter-contact {
    margin-left: 60px;
    margin-top: 200px;
}

#icon {
    width: 350px;
    margin-top: 150px;
    margin-left: 90px;
}

#home-link {
    margin-left: 250px;
}

#contact-name {
    font-size: 40px;
    font-weight: bold;
}
